* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #cccc;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu li {
    position: relative;
    border-right:1px solid red;
}

.menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    display: block;
}

.menu a:hover {
    background-color: green;
    color:#ffffffcc;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #cccc;
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
    border: 2px solid #cccc;
    border-radius: 5px
}

.submenu li a {
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: #cccc;
    text-decoration: none;
}

.submenu li a:hover {
    background-color: green;
}

.khoa-hoc:hover .submenu {
    display: block;
}
