body {
    font-family: Arial, sans-serif;
    background-color: #7d7878;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgb(114, 3, 46);
    width: 350px;
    text-align: center;
}

h2 {
    color: #00e4f4;
}

#email, #password {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #980202;
    border-radius: 5px;
}

.user-name {
    display: flex;
    justify-content:center;
    margin-bottom: 15px;
}

#first-name, #last-name {
    width: 150px;
    padding: 10px;
    border: 1px solid #980202;
    border-radius: 5px;
}

button {
    width: 350px;
    padding: 10px;
    background-color: #00f7ff;
    color: rgb(254, 0, 0);
    border: 1px solid rgb(255, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}