*{
   margin:0;
   padding:0;
}

nav ul{
    display:flex;
    list-style: none;
    background-color: #cccc;
    cursor: auto;
}

nav ul li{
    border-right:1px solid red;
}

nav ul li:last-child{
    border-right:0;
}

nav ul li:hover{
    background-color:green;
}

a{
    text-decoration: none;
}

nav a{
    display:block;
    color:rgb(68, 23, 23);
    padding:.5rem .1rem;
}

nav a:hover{
    color:#ffff;
}