body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 70%;
    max-width: 1500px;
}

header, nav, footer {
    background-color: #ccc;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid rgb(125, 19, 19);
}

footer {
    margin-top: 10px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.left, .right {
    width: 20%;
    background-color: #e0e0e0;
    padding: 10px;
    border: 1px solid green;
    text-align: center;
}

.body {
    width: 60%;
    background-color: #fff;
    padding: 10px;
    border: 1px solid green;
    text-align: center;
}


