
body{
    background-color: #948989cc;
}

header{
    background-color:#f3f3f3;
}

.container{
    margin:0 1rem;
    width:calc(100%-2rem);
    padding:.5rem 0;
}

.row{
    display:flex;
    justify-content: space-between;
    align-items:center ;
}

.logo{
    width: 50px;
}

.logo img{
    width: 100%;
}


nav ul{
    list-style: none;
    display:flex;
}

#icon-nav:hover{
    cursor: pointer;
    position: relative;
}

#icon-fa{
    display: flex;
    margin:.5rem;
    padding:.25rem;
    cursor: pointer;
}
#icon-fa div{
    margin-right: 20px;
}
i{
    font-size: 20px;
}

i:hover{
    color:red;
}

h2, h3, h4, h5{
    text-align: center;
    color:rgb(205, 219, 219);
}
p{
    color:#f3f3f3
}






@media (max-width: 767.98px) {
    nav ul {
        display: none;
    }

    nav #icon-nav {
        display: flex;
    }

    .logo{
        width: 60px;
        height: 100%;
    }

    .group-icon {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto;   
        align-items: center;
    }
    
    footer {
      flex-direction: column;
      text-align: center;
      padding: 10px;
      background-color: #333;
        color: white;
  }

  .footer-section {
      margin: 10px 0;
  }

  .footer-section h3 {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
  }

  .footer-section h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
  }

  .footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
  }

  .footer-section h3 {
    margin-bottom: 15px;
  }

  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }

  .footer-section ul li {
    margin-bottom: 10px;
  }

  .footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: margin-left 0.5s ease;
  }
  .footer-section ul li a:hover{
      color:rgb(0, 255, 0);
    transition: all 0.5s linear;
    margin-left: 10px;
  }

  .footer-section a img {
    margin-right: 10px;
  }
  #mail, #phone{
    text-decoration: none;
    color:#ccc;
  }
  #phone:hover{
    color:rgb(0,255,0);
  }

  #chatluong-img{
    margin:1rem;
  }
    
}

@media (min-width: 768px) {
    nav #icon-nav {
        display: none;
    }

    .logo{
        width: 60px;
        height: 100%;
    }

    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    nav ul li {
        margin: 0 1rem;
        list-style: none;
    }
    
    nav ul li a{display:block;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    nav ul li a:hover{
        color:red;
    }

    footer {
        background-color: #333;
        color: white;
        padding: 20px 0;
    }

    .footer-section h3 {
      position: relative;
      display: inline-block;
      padding-bottom: 10px;
    }

    .footer-section h3::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: white;
    }

    .footer-container {
      display: flex;
      justify-content: space-around;
      max-width: 1200px;
      margin: auto;
    }

    .footer-section {
      flex: 1;
    }

    .footer-section h3 {
      margin-bottom: 15px;
    }

    .footer-section ul {
      list-style-type: none;
      padding: 0;
    }

    .footer-section ul li {
      margin-bottom: 10px;
    }

    .footer-section ul li a {
      color: white;
      text-decoration: none;
      transition: margin-left 0.5s ease;
    }
    .footer-section ul li a:hover{
        color:rgb(0, 255, 0);
      transition: all 0.5s linear;
      margin-left: 10px;
    }

    .footer-section a img {
      margin-right: 10px;
    }
    #mail, #phone{
      text-decoration: none;
      color:#ccc;
    }
    #phone:hover{
      color:rgb(0,255,0);
    }

    #chatluong-img{
      margin:1rem;
    }
}